<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd" xmlns="http://www.springframework.org/schema/beans">

    <bean name="bean_father" class="com.main.beanRef.Father">
        <property name="son" ref="bean_son"></property>
        <property name="name" value="laobao"></property>
    </bean>
</beans>